header > ul.nav {
    display: flex;
}

ul > li.nav {
    justify-content: space-between;
}

header > h1 {
    margin: auto;
    width: 50%;
    text-align: center
}

.container {
    margin: auto;
    width: 50%;
}

form.answers{
    margin: auto;
    width: 50%;
}

.buttons {
    margin: auto;
    width: 50px;
}