header > ul.nav {
    display: flex;
}

ul.nav > li {
    justify-content: space-between;
    list-style-type: none;
}

header > h1 {
    margin: auto;
    width: 50%;
    text-align: center
}

.container {
    margin: auto;
    width: 50%;
}

.buttons {
    margin: auto;
    width: 50px;
}