body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-align: center;
}

.byline {
  font-weight: 200;
  font-style: italic;
}

.ui-autocomplete {
    display: inline;
    background-color: white;
    width: 100px;
    padding-left: 15px;
}

.ui-menu-item {
    list-style-type: none;
    padding-top: 5px;
}


.ui-menu-item-wrapper:hover {
    background-color: #1fd4f0;
    font-weight: bold;
}

.ui-datepicker-title,
.ui-datepicker-div,
.ui-datepicker-header {
    background-color: #17a2b8!important;
}

.ui-state-default,
.ui-datepicker-prev,
.ui-datepicker-next {
    background-color: #2abfd6!important;
}

.ui-state-highlight {
    background-color: #02ddff!important;
    color:rgba(255, 255, 0, 0.822)!important;
}