ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

li {
    list-style: none;

    /*display: inline;
    padding-left: 5em;*/
}

header>h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 50px;
    font-size: 3em;
}

.intro {
    margin: auto;
    width: max-content;
    padding: 20px;
    font-size: 1.25em;
    text-justify: auto;

}

.initialsDiv {
    margin:auto;
    width: 15%;

}

#initials-label {
    margin: 10px;
}

#initials-txt {
    width: 40px;
}

button {
    display: block;
    font-size: 1em;
    text-align: center;
    color: green;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    box-shadow: -3px 3px 5px rgb(78, 78, 78);
}

.buttons {
    font-size: 1em;
    text-align: center;
    color: blue;
    margin: 10px;
    height: 40px;
    border-radius: 5px;
    box-shadow: -3px 3px 5px rgb(78, 78, 78);
}

#start-quiz:hover {
    background-color: lightgreen;
    color: black;
    font-weight: bold;
}

#start-quiz:active {
    background-color: yellow;
    color: green;
}

#submit-answer:hover {
    background-color: rgb(0, 217, 255);
    color: black;
    font-weight: bold;
}

#submit-answer:active {
    background-color: yellow;
    color: orangered
}

.question {
    width: max-content;
}

#question {
    margin: auto;
    width: max-content;
    padding: 20px;
    font-size: 1.75em
}

#choose {
    margin: auto;
    width: 50%;

}

.choices {
    margin: auto;
    width: min-content; 
}

.options {
    display: none;
}

.options:checked+label {
    background-color: cyan;
}

.labels {
    font-family: "droid-sans-mono", monospace;
    font-size: larger;
    border: solid 1px black;
    margin: 2px;
    border-radius: 5px;
    display: block;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: max-content;
    box-shadow: -3px 3px -3px 3px 5px rgb(78, 78, 78);
    background-color: rgb(117, 184, 252);
    /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/

}

.labels:hover {
    background-color: rgb(159, 205, 252);
}

.labels:active {
    background-color: rgb(0, 202, 202)
}

.correct:checked+label {
    background-color: lightgreen;
}

.wrong:checked+label {
    background-color: red;
}

.top {
    font-size: 1.15em;
    font-weight: bolder;
    color: blue;
    margin-right: 15px;
    margin-left: 15px;
}

#timer {
    font-size: 1.45em;
}

.scores {
    margin-bottom: 30px;
    margin-top: 20px;
}s

.hs {
    display: flex;
    justify-content: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-left: inset 2px black;
    border-right: inset 2px black;
}

.keys,.values {
    font-size: 1.75em;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    border-top: dotted 1.5px black;
    border-bottom: dotted 1.5px black;
    font-family: "droid-sans-mono", monospace;
    text-transform: uppercase;

}

.hs-buttons {
    display: flex;
    justify-content: center;
}